# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
ENV/
.venv/
pip-wheel-metadata/
*.venv

# Jupyter Notebook
.ipynb_checkpoints/
*.nbconvert.ipynb

# VSCode and PyCharm
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter Notebook metadata and checkpoint files
*.checkpoint.ipynb